@tailwind preflight;
@tailwind components;
@tailwind utilities;

:host {
  @apply font-sans;
  line-height: var(--line-height);
  font-size: var(--body-font-size);
  -webkit-font-smoothing: antialiased;
  box-sizing: initial;
}

:host {
  --body-font-size: 1rem;
  --mobile-menu-width: 300px;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}